:root{

    --spacing: 10px
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}





header{
    
    color:white; 
    background-image: linear-gradient(to right, #87CEFB, #00008C );
    padding: 50px;

    text-align: center;

}



    

.d-flex{

    flex-direction: column;
}

.searchSection{



    
   
}

.currentTemp{

    border: 1px solid black;
}

#searchContainer{

    
   
    background-color: #87CEFB;
    
}


button{

   text-transform: capitalize;
   
    
}

#button-container{

    padding-top: var(--spacing);
    border-top: 2px solid gray;

}

#searchContainer,
#searchInput,
#button-container button {
  margin-bottom: var(--spacing);
}

#weather-day-container{

    display: flex;
    flex-direction: column;
   


}

.hide {
    display: none;
  }
  
  .favorable {
    background-color: green;
  }
  
  .moderate {
    background-color: yellow;
  }
  
  .severe {
    background-color: red;
  }